* { box-sizing: border-box;}
:root
{
    --accent: rebeccapurple;
    --background-layer-1: rgba(255, 255, 255, 0.096);
}
body, html
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgb(44, 44, 44);
    color: white;
    max-width: 500px;
    margin-inline: auto;
}

button
{
    appearance: none;
    border: 1px solid color-mix(in srgb, black 50%, transparent);
    box-shadow: 0px 3px 3px black;
    outline: 0;
    border-radius: 8px;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
    font-family: inherit;
    background-color: var(--background-layer-1);
}
button.cta
{
    background-color: var(--accent);
}
h1
{
    border-bottom: 1px solid rgb(56, 56, 56);
    padding-block: 1em;
}
button:active
{
    box-shadow: 0px 3px 3px black inset;
}
p
{
    font-size: 0.8em;
}
section.console
{
    padding: 3px;
    color: white;
    border: 1px solid hsl(0, 0%, 12%);
}
pre
{
    margin: 5px;
    font-size: 0.8em;
    text-wrap-mode: wrap;
}
pre:first-child
{
    color: var(--accent);;
}
section.status-bar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.7em;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-inline: 5px;
    width: 100%;
    color: white;
    background-color: var(--accent);
}